@if (error(); as errorMsg) {
  <div class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
    {{ errorMsg }}
  </div>
}

@if (isLoading()) {
  <div class="text-center py-8">
    <p>Loading items...</p>
  </div>
} @else {
  <p-table [value]="items()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="createdAt">Created At <p-sortIcon field="createdAt"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.createdAt }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center py-8">
          No items found
        </td>
      </tr>
    </ng-template>
  </p-table>
}
